/**
 * Grid
 */

.row {
  padding: 0 1.75em;
  max-width: 68em;
  width: 100%;
  margin: 0 auto;
}

[class*="column"] + [class*="column"]:last-child {
  float: right;
}

.column,
.columns {
  position: relative;
  padding-left: 1rem;
  padding-right: 1rem;
  float: left;
}

.large-4 {
  width: 33.33333%;
}

.large-12 {
  width: 100%;
}